/* .input-box {
  display: flex;
  flex-direction: column;
}
* {
  background-color: #faf1de;
}
.Form-card-css {

  border-radius: 8px;
  box-shadow: 0 4px 6px #ebb851;


  border-radius: 12% 45% 65% 15% / 55% 17% 37% 82%;
  width: 500px;
  padding: 20px;
  height: 650px;

}
.inner-card {
  display: flex;
}
.inner-card div {
  width: 50%;
  margin: 6px;
  height: 70px;
}
.whole-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  background-color: #faf1de;
}
.main {
  background-color: #faf1de;
}
.haven-back {
  position: fixed;
  width: 250px;
  height: 200px;
  right: 0px;
}
.method {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

  color: rgb(50, 49, 49);
}

.table-container {
  width: 80%;
}

.table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}
.table td {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.table th {
  background-color: rgb(237, 178, 97);
  font-size: 18px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(50, 49, 49);
}

.table td button {
  cursor: pointer;
}

.table td a {
  text-decoration: none;
  color: black;
}

.input-box input {
  padding: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00242d;
  background: transparent;
}
.input-box textarea {
  padding: 6px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00242d;
  background: transparent;
}
.input-box textarea:focus {
  outline: none;
}

.input-box input:focus {
  outline: none;
}
.input-box label {
  font-size: 18px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(50, 49, 49);
}
.title-haven {
  text-align: center;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  color: green;
  margin-bottom: 10px;
}
.order {
  color: rgb(158, 106, 32);
}
.mango {
  color: #f1a000;
}
.button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: green;
  position: relative;
  
  top: 27px;
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.error {
  color: orange;
  font-style: italic;

}
.btn-div {
  text-align: center !important;
}
.form-contain-ner {
  height: 460px;
}
.text-box {
  width: 100% !important;
}
.form-contain-ner {
  margin-top: 50px;
}
#action {
  padding: 10px;
  width: 250px !important;
}
.edit {
  background-color: green;
  
  border-radius: 5px;
  width: 50%;
  height: 30px;
  border: none;
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.delete {
  background-color: rgb(164, 52, 15);
  color: white !important;

  border-radius: 5px;
  border: none;
  width: 50%;
  height: 30px;
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.editby {
  background: transparent;
  color: white !important;
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#cod {
  height: fit-content !important;
}
#credit {
  height: fit-content !important;
}
@media only screen and (max-width: 768px) {
  .inner-card {
    display: flex;
    flex-direction: column;
  }
  .inner-card div {
    width: 100%;
  }
  .Form-card-css {
    height: 100%;
  }
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986cb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dailog {
  position: absolute;
  top: 300px;
  padding: 30px;
  border-radius: 7px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  text-align: center;

  font-style: normal;
  border: none;
  box-shadow: 0 4px 6px #ebb851;
}
.del {
  background-color: rgb(164, 52, 15);
  border: none;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}
.nope {
  background-color: green;
  border: none;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
} */

