.input-box {
  display: flex;
  flex-direction: column;
}
.Form-card-css {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 600px;
}
.inner-card {
  display: flex;
}
.inner-card div {
  width: 50%;
  margin: 10px;
 
}
.whole-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
